submodule "supertinycron/supertinycron"]
	path = supertinycron/supertinycron
	url = https://github.com/exander77/supertinycron.git

submodule "espdsp/espdsp"]
	path = espDSP
	url = https://github.com/espressif/esp-dsp.git
